<h2 class="text-center mt-2">All Products</h2><br><br>


<div class="container container1 d-flex justify-content-center align-items-center">
  <div class="input-group">
    <input class="form-control" type="text" placeholder="search">
    <button type="submit" class="btn btn-warning">Search</button>
  </div>
</div>


<div class="container mt-4">
  <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#myModal">Add New Product</button>
  <app-product-modal #myModal></app-product-modal>
  


</div>
    
    <div class="container mt-3">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Category</th>
            <th scope="col">Stock Quantity</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
         <tr>
          
        
         </tr>
          
         
         
        
        </tbody>
      </table>
    
    </div>