<h2 class="text-center mt-2">All Orders</h2><br><br>

<div class="container mt-3">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
            
          <th scope="col">Product</th>
          <th scope="col">No of items</th>
          <th scope="col">Total Price</th>
          <th scope="col">User</th>
          <th scope="col">Order Status</th>
          <th scope="col">Accept</th>
          <th scope="col">Cancel</th>

        </tr>
      </thead>
      <tbody>

       <tr></tr>

    </tbody>

    </table>
  
  </div>
