<app-navbar></app-navbar>
  
<h2 class="text-center mt-2">All Category</h2><br><br>


<div class="container container1 d-flex justify-content-center align-items-center mt-5">
  <div class="input-group">
    <input class="form-control" [(ngModel)]="searchTerm" type="text" placeholder="Search by name">
    <button type="submit" class="btn btn-warning">Search</button>
  </div>
</div>

<div class="container mt-4">
    <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#catModal">Add New Category</button>
    <app-category-modal #catModal></app-category-modal>
  </div>

  <div class="container mt-3">
    <table class="table table-bordered table-hover ">
      <thead>
        <tr>
          <th class="align-middle text-center" scope="col">Category Name</th>
          <th class="align-middle" scope="col">Description</th>
          <th class="align-middle" scope="col">Image</th>
          <th class="align-middle" scope="col">Controls</th>
          
        </tr>
      </thead>
      <tbody>

       <tr *ngFor="let item of categoryData">
        <td class="align-middle text-center">{{item.name}}</td>
        <td class="align-middle text-center">{{item.description}}</td>
        <td class="align-middle text-center"><img style="width: 50px; height: 50px;" src="data:image/png;base64,{{item.image}}" alt=""></td>
        <td class="align-middle text-center"><i class="fa-solid fa-trash" (click)="delCat(item.id)"></i></td>

       </tr>

    </tbody>

    </table>
  
  </div>


